
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

a{
    text-decoration: none;
    color: white;
    
}

a:hover{
    text-decoration:underline;
    color: rgb(99, 49, 91);
    
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: lightblue;
    background-image: url(https://www.shutterstock.com/image-vector/abstract-technology-binary-number-code-600nw-2477116403.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    color: rgb(207, 174, 226);
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 3%;
    padding: 1.5% 6%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 80px;
    
}


.nav-right{
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
    font-size: 18px;
}

.nav-left{
    font-size: large;
    color: rgb(247, 244, 240);
}
