
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

a{
    text-decoration: none;
    color: rgb(13, 13, 13);

}

a:hover{
    text-decoration:underline;
    color: rgb(99, 49, 91);
}

.navbar{
    background-color: lightblue;
    background-image: url(https://www.shutterstock.com/image-vector/abstract-technology-binary-number-code-600nw-2477116403.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    color: rgb(207, 174, 226);
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 3%;
    padding: 1.5% 6%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.nav-right{
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
    font-size: 18px;
}

.nav-left{
    font-size: large;
    color: darkorange;
}
.page{
    width: 90%;
    max-width: 1100px;
    margin: 3% auto;
}

.section{
    background-color:skyblue;
    margin-top: 15%;
}

.cont{
    /* display: grid; */
    position: relative;
    
    background-color: rgb(94, 94, 213);
    /* color: balck;
    margin: 3%;
    border-radius: 10px;
    grid-template-columns: 55% 40%; */
}
.home-text{
position: absolute;
line-height: auto;
margin:2px 20px 10px 5px;

}

.home-text h2{
 font-size: 180%;
 margin-bottom: 2%;
 color: rgb(124, 236, 230);
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-text p{
 margin-bottom: 2%;
 color: antiquewhite;
 
}

.home-text p strong{
    color: rgb(210, 97, 185);
}
.home-img{
margin-left: 60%;    
/* position: absolute; */
width: 80%;
border-radius: 10px;
}

.home-img img{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    
}

.section-title{
    font-size: 150%;
    margin-bottom: 2%;
    color: rgb(18, 18, 18);
}

.card-now{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10%;
    padding: 20px;
}

/*  */
.card-image{
    width: 100%;
}

.card-row h3{
    margin-bottom: 2%;
    color: blue;

}

.card-meta{
    font-size: 20px;
    text-align: center;
}

h3{
    padding-top: 10px;
    text-align: center;
}
